* {
    box-sizing:border-box;
   
}

body {
    margin:0;
}


nav{
    background-color:#333;
    overflow:hidden;
}
nav a {
    float:left;
    color: white;
    text-align:center; 
    padding: 14px 20px;
    text-decoration:none;

}
nav a.right {
    float:right;
}
section {
    display:flex;
    flex-wrap:wrap;

}

main {
    flex:100%;
    padding:20px;
}
.column {
    float: left;
    width: 33%;
    padding: 0 10px;
  }
  .column1 {
    float: left;
    width: 33%;
  }

  .row {margin: 0px 350px;}
  .row1 {margin: 5px 350px;}

  
  .card {
    padding: 55px 15px 0px 15px;
    text-align: center;

  }
  .card1 {
    padding: 25px 16px 0px 16px;
    text-align: center;

  }
  .card2 {
    padding: 10px 16px;
    text-align: center;
    box-sizing: 0 4px 8px 0;
    background-color: white;

  }

  img {
      width: 75%;
      height: 75%;
  }

footer {
    flex:100%;
    padding:20px;
    background-color:lightgray;

}
@media screen and (max-width:700px) {
    section {
        flex-direction: column;
    }
}